PORT=8000
NODE_ENV="production"

DB_URL="mongodb+srv://zettaversetechnologies:MYBjwg99ZK2zIJon@cluster0.yzfniwh.mongodb.net/quiz?retryWrites=true&w=majority&appName=Cluster0"
JWT_ACCESS_TOKEN="c362d2567sad403fe0e4352d984bdf85c43d22bf6935eb31b3bc7c0580a1f45"
ACCESS_TOKEN_SECRET="quiz@@accesstokensecret@123456"
REFRESH_TOKEN_SECRET="quiz@@refreshtokensecret@123456"
SMTP_USERNAME="sohaghossain7th@gmail.com"
SMTP_PASSWORD="yvlsmyxiugybdkjd"
OTP_EXPIRY_TIME=3
 